.chatbot {
    width: 100%;
    max-width: 800px;
    margin: auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chatWindow {
    height: 800px;
    overflow-y: scroll;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
}

.message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: inline-block;
    max-width: 70%;
    word-wrap: break-word;
}

.message.user {
    background-color: #0d0e0d;
    align-self: flex-end;
    text-align: right;
}

.message.bot {
    background-color: #f15151;
    align-self: flex-start;
    text-align: left;
}

.inputContainer {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 20px;
}

.button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.button:hover {
    background-color: #0056b3;
}
